
extends layout

block othlink
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')

    // Bootstrap link
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
     integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

    // CSS file for index.html
    link(rel='stylesheet' href='/css/mystyler.css')

    // JavaScript link
    script(src='/js/myjsscript.js')

block content  
    
    form#regform(method='POST' action='/users/book')

      .form-row
        .form-group.col-md-2
          label(for="sign") Sign in
          input.form-control-plaintext(name="signin" type="text")
        .form-group.col-md-2
          label(for="username") Username
          input#log.form-control-plaintext(name="userid" placeholder="Username" type="text")
        .form-group.col-md-4
          label(for="password") Password
          input#log.form-control(name="passwd" type="password" placeholder="*******")
        .form-group.col-md-4
          button.btn.btn-primary Log In    

      h1(style='text-align:center;')            
          strong Book a #{pack.PkgDesc}
      p Begin: #{pack.PkgStartDate}
      p End: #{pack.PkgEndDate}
      p Price: $#{pack.PkgBasePrice}


      .form-row      
        .form-group.col-md-4
          label(for='currdate') Date of Booking:
          input#currdate.form-control(type='date' name='BookingDate' placeholder='yyyy-mm-dd' required='')
          small#msg(style='display:none;') Enter Date booking here.

        .form-group.col-md-3
          label(for='travelcnt') No. of Traveller:
          input#travelcnt.form-control(type='text' name='TravelerCount' required='')
          small#msg(style='display:none;') Enter No. of Traveller here.

      .form-row      
        .form-group.col-md-5
          label(for='depart') From:
          input#depart.form-control(type='test' name='Departure' placeholder='From' required='')
          small#msg(style='display:none;') Enter City of Departure.

        .form-group.col-md-5
          label(for='arriv') To:
          input#arrive.form-control(type='test' name='Arrival' placeholder='To' required='')
          small#msg(style='display:none;') Enter City of Arrival.

          input(style='display:none' name='BookingNo' value='SWSW')
          input(style='display:none;' name='CustomerId' value="11")
          input(style='display:none;' name='TripTypeId' value="21")
          input(style='display:none;' name='PackageId' value="111")
          

      .form-row
        .form-group.col-md-4
        .form-group.col-md-4
            button#res.btn.btn-primary(style='margin-bottom: 20px;' type='reset' onclick='Confirm_Buttons()') Cancel            
            button#sub.btn.btn-primary(style='margin-left: 4px; margin-bottom: 20px;' type='submit' onclick='Confirm_Buttons()') Book            

    script.
      LoadthePage();
