extends layout

block othlink
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
    title Travel Packages
    link(rel='stylesheet' href='/css/packages.css')
    script(src='/js/buttons.js')

block content
  .container
    .row.detailsbox
      .col-lg-9.md-12.colimgdet
          img.pkgimglg(src=pack.ImgLg)
      .col-lg-3.md-5.info
        .infoborder
          p.Price $#{pack.PkgBasePrice}
          p.Fees Plus applicable fees and taxes
          a.badge.butsub(href='/users/book/' + pack.PackageId role='button') BOOK
      .col.md-5.info2
          p.Title #{pack.PkgName}
          p.Desc #{pack.PkgDesc}
          p.Date From: #{pack.PkgStartDate}
          p.Date To: #{pack.PkgEndDate}